extends layout

block layout-content
  .admin-dashboard-wrapper
    h1 Admin Dashboard

    .dashboard-buttons
      a.btn.btn-add(href="/admin/about") Manage About
      a.btn.btn-add(href="/admin/projects") Manage Projects
      a.btn.btn-add(href="/admin/contacts") View Contact Messages


